#archive
  .post-list
    padding: 0

    .post-item
      margin-bottom: .5rem
      margin-left: 0
      list-style-type: none
      font-family: $font-family-head
      letter-spacing: .03em
      &-category
        min-width: 55px
        margin-right: 1rem
        a
          letter-spacing: 0.03em;
          font-size: 0.85rem;
          font-weight: 700;
          color: $color-accent-2
          background: none
          &:hover
            underline(5px, $color-accent-2)

      .meta
        display: block
        margin-right: 8px
        min-width: 70px
        color: $color-meta
        font-size: 14px

  @media (min-width: 480px)
    .post-list
      .post-item
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        // margin-bottom: 5px
        margin-left: 1rem

        .meta
          text-align: left
